[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
pipenv-to-requirements = "*"
sentry-sdk = "*"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "==2.8.6"

[dev-packages]
flake8 = "*"
black = "*"
awsebcli = "*"
psycopg2 = "*"

[requires]
python_version = "3.9"
